table{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

td{
    text-transform: lowercase;
}

tr:hover{
    background: lightblue;
}

.banner{
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
}

.contenedor{
    display: flex;
}

.contenedor .izquierda{
    width: 250px;
    display: flex;
    flex-direction: column;

    
}

ul{
    list-style: none;
    margin-top: 10px;
}

ul span{
    margin-right: 8px;
    margin-left: 8px;
}

li{
    background: white;
    border-radius: 10px;
    padding: 5px;
    width:190px;
    margin-bottom: 10px;
    
}

li:hover{
    background-color: lightcoral;
}