
.perfil{
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
    height: fit-content;
    padding-bottom: 10px;
    background: white;
    padding-top: 15px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.perfil .container{
    display: block;
}

.perfil h5,h2{
    margin-left: 10px;
    font-size: 16px;
    color:#333952;
}

.perfil h5 span{
    font-weight: bold;
    color:#333952;
}


@media (max-width:1200px){
    .perfil{
        width: 93%;
    }
}