
.perfil{
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
    height: fit-content;
    padding-bottom: 10px;
    background: white;
    padding-top: 1px;
    border-radius: 20px;
    margin-top: 20px;
}

.perfil h5,h2{
    margin-left: 10px;
}

@media (max-width:1200px){
    .perfil{
        width: 93%;
    }
}